.header {
  position: relative;
  padding: 2.2rem 0;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  z-index: 1;
}
.header::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--color-input-border);
  top: 0;
  z-index: -2;
  background-color: var(--color-background);
}

.navigation_list {
  display: flex;
  gap: 2rem;
}
.navigation_link:link,
.navigation_link:visited {
  text-decoration: none;
  font-weight: var(font-weight-medium);
}
.navigation_link:active,
.navigation_link:hover {
  text-decoration: underline;
  color: var(--color-text);
}
.container:has(#bio:target) .navigation__bio,
.container:has(#skills:target) .navigation__skills,
.container:has(#projects:target) .navigation__prohects,
.container:has(#clients:target) .navigation__clients,
.container:has(#contact:target) .navigation__contact {
  color: var(--color-blue);
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}
.burger-menu__checkbox {
  display: none;
}

/* toggle */
.toggle {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}
.toggle__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-18);
}
.toggle__checkbox {
  display: none;
}
.toggle__lable {
  display: block;
  position: relative;
  background-color: #d1d1d1; /* لون رمادي فاتح */
  border-radius: 2rem; /* لجعل الزر مستديرًا أكثر */
  width: 4.5rem;
  height: 2.2rem;
  cursor: pointer;
  padding: 0.3rem;
}
.toggle__lable::after {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  display: block;
  background-color: var(--color-white);
}
.toggle__checkbox:checked + .toggle__lable {
  border-color: var(--color-white);
}
.toggle__checkbox:checked + .toggle__lable::after {
  transform: translateX(2.1rem);
  background-color: var(--color-blue);
}
