.skills {
  padding: 2rem 0;
  margin-top: 2rem;
  background-color: var(--color-grey);
}
.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5rem;
}
.h2-heading {
  display: block;
}
.skill__item {
  transition: var(--transition-timing);
  user-select: none;
}
.skills__title {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-semi-bold);
}
.skills-years {
  display: inline-block;
  font-size: var(--font-size-20);
  margin-top: 1rem;
}
.skell__item:hover {
  text-shadow: 0 0 0.2rem;
}
